.s-container {
  padding: 50px 0px;
  max-width: 1200px;
  margin: 0 auto;
}

.news-detail {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  text-align: left;
}

.first-news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 40px;
}

.first-news-img-container {
  flex: 1;
}

.first-news-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.first-news-content {
  font-family: "Montserrat";
  font-size: 16px;
  color: #646974;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
  line-height: 20px;
}

.first-news-title {
  font-size: 24px;
  font-weight: bold;
  color: #272b36;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  white-space: normal;
}

.first-news-link {
  font-family: "Montserrat";
  font-size: 16px;
  color: #c92135;
  font-weight: bold;
  text-decoration: none;
  text-align: left !important;
  margin-top: 20px;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.news-item {
  padding: 0px 0px 20px;
}

.news-item-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  padding: 0%;
}

.news-title {
  font-family: "Montserrat";
  font-size: 18px;
  color: #272b36;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
}

h1.news-title {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #272b36;
  padding: 0 0 20px;
  margin: 0;
  text-align: left;
}

.news-excerpt {
  font-family: "Montserrat";
  font-size: 14px;
  color: #646974;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 20px;
  margin: 10px 0px;
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
}

.news-link {
  font-family: "Montserrat";
  font-size: 14px;
  color: #c92135;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
  text-align: left;
}

.news-content-detail figure,
.news-content-detail figure.image,
.news-content-detail figure.table table tbody tr td img,
.news-content-detail img {
  width: 100% !important;
  height: auto !important;
  display: block !important;
  margin: 16px auto !important;
  object-fit: contain !important;
  aspect-ratio: auto !important;
  justify-content: center !important;
  align-items: center !important;
  justify-self: center !important;
}

.news-content-detail {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: #484e56;
  text-align: left;
  padding-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.pagination .ant-pagination {
  display: flex;
  gap: 12px;
}

.pagination .ant-pagination-item {
  background-color: transparent;
  border: none;
  min-width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  color: #272b36;
  transition: all 0.3s ease;
}

.pagination .ant-pagination-item a {
  color: #272b36;
}

.pagination .ant-pagination-item-active {
  background-color: #c92135;
  font-weight: bold;
}

.pagination .ant-pagination-item-active a {
  color: white !important;
}

.pagination .ant-pagination-item:hover {
  background-color: #f5f5f5;
}

.pagination .ant-pagination-prev,
.pagination .ant-pagination-next {
  background-color: transparent;
  border: none;
}

.pagination .ant-pagination-prev button,
.pagination .ant-pagination-next button {
  font-size: 18px;
  color: #272b36;
}

.related-news {
  font-family: Montserrat;
  font-size: 32px !important;
  font-weight: bold !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #484e56 !important;
  width: 100%;
  padding: 0%;
  margin: 0%;
}

a.related-news-title {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 600;
  color: #484e56;
  text-decoration: none;
  line-height: 1.4;
  text-align: start;
  display: inline !important;
  word-break: break-word !important;
  white-space: normal;
}

.related-news-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  padding: 0 20px;
}

.related-news-item .icon {
  font-size: 16px;
  color: #c92135;
  line-height: 1;
  margin-top: 2px;
  align-self: start;
}

.related-news-item .content {
  display: flex;
  flex-direction: column;
}

.related-news-item .title {
  font-size: 18px;
  font-weight: 600;
  color: #272b36;
  text-decoration: none;
  margin-bottom: 4px;
}

.related-news-date {
  font-size: 14px;
  font-style: italic;
  color: #666;
  text-align: left;
}

@media (max-width: 1024px) {
  .news-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .news-grid {
    grid-template-columns: 2fr;
  }
}

@media (max-width: 768px) {
  .first-news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .first-news-title {
    font-size: 20px !important;
  }

  .first-news-img-container {
    width: 100%;
    margin-bottom: 12px;
  }

  .first-news-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .first-news-content h3 {
    font-size: 16px;
  }

  .first-news-content p {
    font-size: 14px;
  }

  .first-news-link {
    font-size: 14px;
  }

  p.date {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 16px;
  }

  h1.news-title {
    font-size: 24px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0%;
  }

  p.news-excerpt-detail {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: italic;
    line-height: 1.5;
    color: #484e56;
    padding-bottom: 24px;
    text-align: justify;
  }

  p {
    font-size: 14px;
  }

  em {
    font-size: 12px;
  }

  h3.related-news {
    font-size: 24px;
  }

  .page-button {
    font-size: 12px;
  }
}
