.container-banner {
  position: relative;
  width: 100%;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.product-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  color: rgb(171, 45, 46);
  display: inline;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 40px;
  font-weight: 700;
  height: auto;
  line-height: 60px;
  text-align: center;
  text-shadow: rgb(255, 255, 255) -1px 1px 0px, rgb(255, 255, 255) 1px 1px 0px,
    rgb(255, 255, 255) 1px -1px 0px, rgb(255, 255, 255) -1px -1px 0px;
  text-size-adjust: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  color: rgb(171, 45, 46);
  display: inline;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 40px;
  font-weight: 700;
  height: auto;
  line-height: 60px;
  text-align: center;
  text-shadow: rgb(255, 255, 255) -1px 1px 0px, rgb(255, 255, 255) 1px 1px 0px,
    rgb(255, 255, 255) 1px -1px 0px, rgb(255, 255, 255) -1px -1px 0px;
  text-size-adjust: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (max-width: 768px) {
  .product-center {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
  }
}
