.footer {
  position: relative;
  padding: 60px 20px;
  color: #1e1e1e;
  font-family: "Inter", "sans-serif";
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  min-height: 300px;
}

.footer::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background-image: url('image/footer.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 0;
}

.footer-container {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 5fr 2fr 3fr;
  gap: 20px;
  align-items: flex-start;
}

.footer-top-logo {
  grid-column: 1 / 4;
  text-align: left;
  margin-bottom: 30px;
}

.footer-logo-large {
  height: 60px;
  width: auto;
}

.footer-col {
  font-size: 14px;
  line-height: 1.6;
}

.footer-col h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 6px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #1e1e1e;
  font-size: 14px;
}

.footer-col ul li a:hover {
  color: #c92135;
  cursor: pointer;
}

.footer iframe {
  width: 100%;
  max-width: 100%;
  border-radius: 6px;
  border: none;
  height: 200px;
}

.fade-in-on-scroll {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.fade-in-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive cho mobile */
@media (max-width: 768px) {
  div.container.footer-container {
    padding: 0%;
  }

  .footer-container {
    display: flex;
    flex-direction: column;

    gap: 20px;
  }

  .footer-top-logo {
    text-align: center;
  }

  .footer-col {
    width: 100%;
    max-width: 400px;
  }

  .footer iframe {
    height: 250px;
  }

  .footer-col h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0%;
  }

  .footer-col ul li {
    margin-bottom: 0%;
  }
}
