.nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px 30px;
  gap: 40px;
  border-radius: 999px;
  top: 0px;
  z-index: 9999;
  margin-top: 18px;
  /* backdrop-filter: blur(10px); */
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 6px solid transparent;
  background-clip: padding-box;
  background-image: linear-gradient(#ffffff, #ffffff),
    linear-gradient(90deg, #31a8e0, #ca2335);
  background-origin: padding-box, border-box;
  background-repeat: no-repeat;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeDown 0.6s ease-out forwards;
  position: fixed;
}

@keyframes fadeDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  max-height: 40px;
  width: auto;
  padding-left: 30px;
}

.logo-item {
  margin-right: 40px;
}

.nav li a {
  display: block;
  color: #31a8e0;
  text-decoration: none;
  padding: 0px 16px;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav li a:hover:not(.active) {
  color: #ca2335;
  text-shadow: 0 0 6px #ffffff;
  transform: scale(1.1);
}

.nav li a.active {
  color: #ca2335;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.6s ease-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  margin: 0;
  padding: 0;
}

/* ====== RESPONSIVE ====== */

/* Nút ☰ cho mobile */
.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: #31a8e0;
}

/* Responsive menu */
@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 8px;
    width: 220px;
  }

  .nav.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
