ul.nav {
  display: flex;
  align-items: center;

  justify-content: center;
  flex-wrap: nowrap;
  list-style: none;
  padding: 10px 30px;
  margin: 18px 0px;
  gap: 40px;
  border-radius: 999px;
  top: 0px;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 6px solid transparent;
  background-clip: padding-box;
  background-image: linear-gradient(#ffffff, #ffffff),
    linear-gradient(90deg, #31a8e0, #ca2335);
  background-origin: padding-box, border-box;
  background-repeat: no-repeat;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeDown 0.6s ease-out forwards;
  position: fixed;
  white-space: nowrap;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  color: #31a8e0;
  border: none;
  text-decoration: none;
  padding: 0px 16px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: #333;
}

li {
  float: left;
}

li a1,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 130px;
  top: 100%;
  left: 0;
  z-index: 10001;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.dropdown-content a {
  color: #31a8e0;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  text-align: left;
  transition: background 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #ffffff;
  border-radius: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@keyframes fadeDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  max-height: 40px;
  width: auto;
}

.logo-item {
  margin-right: 40px;
}

.nav li a {
  display: block;
  color: #31a8e0;
  text-decoration: none;
  padding: 0px 16px;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.3s ease;
}

.nav li a:hover:not(.active) {
  color: #ca2335;
  text-shadow: 0 0 6px #ffffff;
  transform: scale(1.1);
}

.nav li a.active {
  color: #ca2335;
}

img.banner-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: slideDown 0.6s ease-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  margin: 0;
  padding: 0;
}

.top-bar {
  display: none;
}

@media (max-width: 768px) {
  .logo-item-desktop,
  .lang-btn-wrapper {
    display: none;
  }
}

@media (max-width: 768px) {
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 12px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 10000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav {
    display: none !important;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background: #ffffff;
    padding: 16px 16px;
    z-index: 9998;
    overflow-y: auto;
    border-radius: 0 !important;
    background-clip: unset !important;
    background-origin: unset !important;
    box-shadow: none !important;
  }

  .nav.active {
    display: flex !important;
    height: calc(100vh - 60px);
  }

  .nav li {
    margin: 6px 0;
    text-align: center;
  }

  .nav li a {
    font-size: 16px;
    padding: 10px 0;
    color: #31a8e0;
    font-weight: bold;
    display: block;
  }

  .logo-item-desktop,
  .lang-btn-wrapper {
    display: none !important;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 250px; /* Adjust width for mobile */
    top: 100%;
    left: 50%;
    transform: translateX(-50%); /* Center the dropdown horizontally */
    z-index: 10001;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }

  .dropdown-content a {
    color: #31a8e0;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: background 0.3s ease;
    border-radius: 0px;
  }

  .dropdown-content a:hover {
    background-color: #ffffff;
    border-radius: 15px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .nav li a {
    display: block;
    color: #31a8e0;
    text-decoration: none;
    padding: 14px;
    font-weight: bold;
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (max-width: 1205px) {
  ul.nav {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 8px 16px;
  }

  .nav li a {
    font-size: 20px;
    padding: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  ul.nav {
    gap: 16px;
    padding: 8px 16px;
  }

  .nav li a {
    font-size: 16px;
    padding: 4px 6px;
  }

  .logo {
    max-height: 30px;
  }

  .logo-item {
    margin-right: 20px;
  }

  .lang-btn-wrapper {
    padding-left: 6px;
  }
}
