body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: none;
  color: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

.customers {
  background: linear-gradient(to bottom, #48a6e8, #7fc9fe);
  color: white;
  padding: 80px 20px;
  border-radius: 0px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.customers h1 {
  font-family: "Poppins", sans-serif;
  font-size: 47px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 24px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 1s ease forwards;
}

.customers-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
}

.customers-text {
  flex: 1 1 40%;
}

.customers-text p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 16px;
  text-align: left;
  animation: fadeInUp 1s ease forwards;
  opacity: 0;
}

.customers-logos {
  flex: 1 1 40%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 40px;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
}

.customers-logos img {
  max-width: 100px;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.15));
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.customers-logos img.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .customers-container {
    flex-direction: column;
  }

  .customers-text,
  .customers-logos {
    flex: 1 1 100%;
  }

  .customers-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }

  .customers-logos img {
    max-width: 80px;
  }
}

@media (max-width: 768px) {
  section.customers.fade-in-on-scroll.visible {
    padding: 40px 20px;
  }

  .customers h1 {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin: 0px 0px 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 1s ease forwards;
  }

  .customers-text p {
    font-size: 13px;
    line-height: 1.8;
    margin-bottom: 16px;
    text-align: left;
    animation: fadeInUp 1s ease forwards;
    opacity: 0;
  }
}
