.nationwide {
  position: relative;
  backdrop-filter: blur(6px);
  padding: 80px 20px;
  transition: all 0.5s ease;
  overflow: hidden;
  height: auto 499.312px;
  width: auto 1548px;
}

.nationwide .grid {
  align-items: center;
  color: rgb(30, 30, 30);
  column-gap: 40px;
  display: flex;
  flex-wrap: wrap;
  font-family: Inter, sans-serif;
  font-size: 18px;
  height: auto 419.312px;
  margin-bottom: 0px;
  margin-left: 154px;
  margin-right: 154px;
  margin-top: 0px;
  max-width: 1200px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  row-gap: 40px;
  text-align: center;
  unicode-bidi: isolate;
  width: auto 1200px;
}

.nationwide h1 {
  font-family: "Poppins", sans-serif;
  font-size: 47px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 24px;
  color: #050505;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}

.nationwide p {
  color: rgb(30, 30, 30);
  display: block;
  font-family: Inter, sans-serif;
  font-size: 18px;
  height: 291.516px;
  line-height: 32.4px;
  margin-block-end: 18px;
  margin-block-start: 18px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  text-align: left;
  unicode-bidi: isolate;
  width: 640px;
}

.nationwide .text {
  flex: 1 1 50%;
  text-align: left;
  animation: slideInLeft 1s ease forwards;
  opacity: 0;
  line-height: 1.8;
}

.nationwide .image {
  flex: 1 1 40%;
  animation: slideInRight 1s ease forwards;
  opacity: 0;
}

.nationwide img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease;
}

.nationwide img:hover {
  transform: scale(1.05);
}

.nationwide .image {
  flex: 1 1 40%;
  animation: slideInRight 1s ease forwards;
  opacity: 0;
  position: relative;
}

.nationwide-video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  transition: transform 0.5s ease;
}

.nationwide-video:hover {
  transform: scale(1.05);
}

.nationwide .text.visible {
  animation: slideInLeft 1s ease forwards;
  opacity: 1;
}

.nationwide .image.visible {
  animation: slideInRight 1s ease forwards;
  opacity: 1;
}

/* Fade-in animation */
@keyframes slideInLeft {
  from {
    transform: translateX(-40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(40px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
