.container-banner {
  background-image: url("../../../src/assets/Giới thiệu/banner.jpg");
  background-repeat: no-repeat;
  width: 100%;
  margin: 0%;
  background-size: cover;
}

.container-banner-page {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  color: rgb(171, 45, 46) !important;
  display: inline;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 40px !important ;
  font-weight: 700;
  font-weight: bold !important;
  height: auto;
  line-height: 60px;
  text-align: center;
  text-shadow: rgb(255, 255, 255) -1px 1px 0px, rgb(255, 255, 255) 1px 1px 0px,
    rgb(255, 255, 255) 1px -1px 0px, rgb(255, 255, 255) -1px -1px 0px;
  text-size-adjust: 100%;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin-top: 20px !important;
}

@media (max-width: 768px) {
  .center {
    font-size: 34px !important;
  }
}
