.main-color-red-title-1 {
  color: rgb(171, 45, 46) !important;
  font-size: 35px !important;
  font-weight: 700 !important;
  margin-bottom: 8px;
  text-align: start;
  text-size-adjust: 100%;
}

.main-color-red-title-2 {
  color: rgb(171, 45, 46) !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  text-align: start;
  padding: 16px 0px;
  line-height: 1.4;
}

.tight-paragraph {
  margin-bottom: 0px !important;
  line-height: 1.6 !important;
}

@media (max-width: 768px) {
  .main-color-red-title-1 {
    font-size: 24px !important;
  }

  .main-color-red-title-2 {
    font-size: 16px !important;
    margin: 0px !important;
  }

  .tight-paragraph {
    font-size: 14px !important;
  }
}
